Adafruit_GPIO
colorama
colorzero
gpiozero==1.6.2
icecream
ipython
matplotlib
mock
numpy
Pillow
pygame
pygame_ce
pygame_gui
pytest
scipy
pandas
setuptools
smbus
transitions
pysistence
RPI.GPIO
picamera
