Adafruit_GPIO==1.0.3
colorama==0.4.4
colorzero==2.0
gpiozero==1.6.2
icecream==2.1.2
ipython==7.19.0
matplotlib==3.3.2
mock==4.0.2
numpy==1.19.2
pandas==1.1.3
Pillow==8.0.1
Pillow==9.5.0
pygame==2.1.2
pygame_gui==0.6.9
pysistence==0.4.1
pytest==0.0.0
rpg==2.0.1
scipy==1.5.2
setuptools==50.3.1.post20201107
smbus==1.1.post2
transitions==0.8.10
